* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    scroll-behavior: smooth;
    transition: 1.2sec ease;
}
.heading{
    display: none;
}


/* main section */

.Main {
    display: flex;
    background-color: cornsilk;
}

.sidebar {
    display: block;
    border: 1px solid #ccc;
    height: 100vh;
    position: sticky;
    top: 0;
    width: 10vw;
    background-color: rgb(217, 185, 247);
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
}

.sidebar ul li {
    list-style: none;

}


.sidebar ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    width: 100%;
}

.sidebar ul li a:hover{
    
    color: rgb(140, 11, 226);
} 

.sidebar img {

    display: block;
    margin: 10px auto;
    width: 50%;

    height: 70px;
    width: 70px;

}

.content {
    scroll-margin: 50px;
    text-align: justify;
    width: 85vw;
}

.content p {
    margin: 20px 20px;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.content h1 {
    font-weight: 700;
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
@media only screen and (max-width: 930px) {
    
    .sidebar {
            display: none;
    }
    .heading{
        max-height: 15vh;
        background-color: aqua;
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        overflow-x: auto;
    }
    .heading .logo img{
        display: none;
    }
    .heading ul{
        display: flex;
        
        margin: 0 auto;
    }
    .heading ul li {
        list-style: none;
        
    }
    
    
    .heading ul li a {
        text-decoration: none;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        padding-left: 20px;
    }

    @media only screen and (max-width: 570px){
        .heading{
            margin: 0;
            padding: 0;
            flex-direction: column;
            flex-wrap: wrap;
            overflow-x: auto;
            height: 5vh;
        }
        .heading .logo img{
            display: none;
        }
    }
    
    
  }
  


